body{
    background: url(../images/nathan-dumlao-1272742-unsplash.jpg) no-repeat center fixed;
    height: 100%; 
    background-size: cover;
    /* display: flex; */
    flex-direction: column;
    padding:10px;
}
.skills{

    background: green;
    padding-left: 10px;
    border: 2px solid black;
    /* margin-top:170px; */
    width:99%;
}

.topflex, .skillists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
 .bottom{
    display: flex;
    flex-direction: row;
    width:100%;
}

.top{
    display: flex;
    flex-direction: row;
    margin:10px;
    width:100%;
    
}
.namesum{
    padding-left: 10px;
    border: 2px solid black;
    margin: 10px;
    background: green;
    height:32%;
    margin-top:20px;
}
img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    padding:50px;
}
h1{
    margin:0 100px 20px;
}
.sum, .summary {
    margin: 0 100px;
    
}

.skilltitle{
    text-align: center;
    margin-top:40px;
}
h3{
    text-align: center;
}

.ex {
    border: solid black 3px;
    text-overflow: auto;
}
.ed{
    border: solid black 3px;
    text-overflow: auto;
}
.ed p, .ex p {
    padding:15px;
}
ul{
    margin:30px;
}
li{
    font-size:20px;
    margin:10px;
}
.ed, .ex{
    height:300px;
    background:green;
}
.bottom{
    margin-top: 70px;
}
@media (max-width:1425px){
    .bottom {
        flex-direction:column;
    }
    .ed, .ex{
        height: auto;
        width: auto;
    }

    .skills {
        margin:auto;
    }

    .skillists {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }
    .namesum{
        height:auto;
    }
}
img:hover {
    transform:rotate(5deg) scale(1.2);
    transition: all .3s ease-in-out;
}
.name{
    margin-top:20px;
    padding:10px;
}

