body{
    background: url(../images/paul-gilmore-1272889-unsplash.jpg) no-repeat center fixed;
    height: 100%; 
    background-size: cover;
    flex-direction: column;
    padding:10px;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
.skills{

    background-image:linear-gradient(to right, #2CEAA3, #28965A);
    padding-left: 10px;
    border: 2px solid rgb(62, 32, 196);
    width:99%;
}

 .skillists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
 .bottom{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 70px;
}

.top{
    display: flex;
    flex-direction: row;
    margin:10px;
    width:100%;
    
}
.namesum{
    padding-left: 10px;
    border: 2px solid rgb(62, 32, 196);
    margin: 10px;
    background-image:linear-gradient(to right, #2CEAA3, #28965A);
    margin-top:20px;
}
img{
    height:200px;
    width: 200px;
    border-radius: 50%;
    padding:50px;
}
h1{
    margin:0 100px 20px;
}
.sum, .summary {
    margin: 0 100px;
    
}

.skilltitle{
    text-align: center;
    margin-top:40px;
}
h3{
    text-align: center;
}

.ex {
    border: solid rgb(62, 32, 196) 3px;
    text-overflow: auto;
    width:56%;

}
.ed{
    border: solid rgb(62, 32, 196) 3px;
    text-overflow: auto;
}
.ed p, .ex p {
    padding:15px;
}
.ex p{
    margin-top:-20px;
}
ul{
    margin:30px;
}
li{
    font-size:20px;
    margin:10px;
}
.ed, .ex{

    background-image:linear-gradient(to right, #2CEAA3, #28965A);
}

@media (max-width:1425px){
    .bottom, .skills, .top{
        flex-direction:column;
    }
    .ed, .ex{
        height: auto;
        width: 100%;;
    }

    .skills {
        width:100%;
    }

    .skillists {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }
    .namesum{
        height:auto;
    }
}
img:hover {
    transform:rotate(5deg) scale(1.2);
    transition: all .3s ease-in-out;
}
.name{
    margin-top:20px;
    color:black;
    text-shadow: 1px 1px 4px rgb(62, 32, 196);
}
.name, .sum, .summary, .skilltitle, li, h3, .edex{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-size:25px;
}

